<div class="container">
    <div class="main">
        <!-- ======================= Cards ================== -->
        <div class="cardBox">

            <div class="card">
                <div>
                    <div class="numbers">+800</div>
                    <div class="cardName">Audit Completed</div>
                </div>

                <div class="iconBx">
                    <img src="../../assets/icons/top-up.png" alt=""  class="iconBx1">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">+100</div>
                    <div class="cardName">Audit In Progress</div>
                </div>

                <div>
                    <img src="../../assets/icons/top-up.png" alt=""  class="iconBx">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">+200</div>
                    <div class="cardName">Audit Not Started</div>
                </div>

                <div class="iconBx">
                    <img src="../../assets/icons/down.png" alt=""  class="iconBx2">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">$7,842</div>
                    <div class="cardName">Earning</div>
                </div>

                <div class="iconBx">
                    <img src="../../assets/icons/top-up.png" alt=""  class="iconBx1">
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Other content... -->
            <div class="chartRow">
              <div class="chartContainer">
                <canvas id="auditChart"></canvas>
              </div>
              <div class="chartContainer">
                <canvas id="auditChart1"></canvas>
              </div>
            </div>
          </div>
          
       